<!--The content below is only a placeholder and can be replaced.-->
<body>
<div style="text-align:center">
  <h1>
    Administrator Page For {{title}} 2017
  </h1>
  <img width="200" alt="Hack Western Logo" src="assets/Images/uKHKeZyQ.jpg">
</div>

<h2><i class="fa fa-arrow-circle-right"></i>Important Links</h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://hackwestern.com"><i class="fa fa-home"></i>Home</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.facebook.com/events/307616616420653/"><i class="fa fa-facebook-official"></i>Facebook</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://twitter.com/hackwestern?lang=en"><i class="fa fa-twitter"></i>Twitter</a></h2>
  </li>
  </ul>
  
  <app-students></app-students>
  <app-volunteers></app-volunteers>

<footer>&copy; Copyright 2017 Agile Computers<img width="75" alt="Hack Western Logo" src="assets/Images/myCompany.ico"></footer>
</body>

