button{
    background-color: plum;
    font-family: sans-serif;
    border:1px solid #777;
}
title
{
    font-family:Tahoma;
    font-style:Oblique;
   
}
h2
{
    text-align: left;
    color:#3333ff;
    
}
